Objektif: saya bertugas Melakukan pengambilan data dengan web scraping, dibutuhkan juga data preparation untuk pengolahan data, dimana diperlukan sebelum memahami business understanding dar data yang sudah diambil dan menganalisis nya.

In [114]:
# library yang digunaan
from bs4 import BeautifulSoup
from selenium import webdriver
import pandas as pd
import time

### A.Web Scraping

#### 1.Pengambilan Data

In [ ]:

# URL yang akan diakses
url = 'https://www.tokopedia.com/search?navsource=&page=1&q=seblak&srp_component_id=02.01.00.00&srp_page_id=&srp_page_title=&st='
driver = webdriver.Chrome()
driver.get(url)
time.sleep(0.5)

# Membuat objek BeautifulSoup untuk parsing HTML halaman web
soup = BeautifulSoup(driver.page_source, 'html.parser')

setelah berhasil mengambil data dari link `url`. selanjutnya saya akan mengecek `class` yang ada di dalam web dengan 
fungsi `.find_all`

In [116]:
soup.find_all('div',{"class":"prd_link-product-name css-3um8ox"})

[<div class="prd_link-product-name css-3um8ox" data-testid="linkProductName">Kylafood Seblak Karuhun Play</div>,
 <div class="prd_link-product-name css-3um8ox" data-testid="linkProductName">Kylafood Seblak Rempah Autentik isi (5pcs)</div>,
 <div class="prd_link-product-name css-3um8ox" data-testid="linkProductName"> Kylafood Seblak karuhun</div>,
 <div class="prd_link-product-name css-3um8ox" data-testid="spnSRPProdName">Geli Food Seblak Ceker Tanpa Tulang Super Pedas 180gr</div>,
 <div class="prd_link-product-name css-3um8ox" data-testid="spnSRPProdName">Seblak Rafael, Seblak Coet Instan Halal</div>,
 <div class="prd_link-product-name css-3um8ox" data-testid="spnSRPProdName">Seblak Instan Ceu Nthien Khas Bandung Rasana Ngeunah Pisan</div>,
 <div class="prd_link-product-name css-3um8ox" data-testid="spnSRPProdName">kerupuk seblak 1kg</div>,
 <div class="prd_link-product-name css-3um8ox" data-testid="spnSRPProdName">KERUPUK SEBLAK MENTAH 1KG WARNA WARNI</div>,
 <div class="prd_link-product-name css-3um8ox" data-testid="spnSRPProdName">Seblak Rafael, Seblak Coet Instan Halal</div>,
 <div class="prd_link-product-name css-3um8ox" data-testid="spnSRPProdName">Seblak Instan Pedas Home Made</div>,
 <div class="prd_link-product-name css-3um8ox" data-testid="spnSRPProdName">SEBLAK INSTANT TERMURAH</div>,
 <div class="prd_link-product-name css-3um8ox" data-testid="spnSRPProdName">Seblak RAFAEL | Seblak MAMANG RAFAEL | Seblak Viral ORIGINAL TATANGGA</div>,
 <div class="prd_link-product-name css-3um8ox" data-testid="spnSRPProdName">Kylafood Seblak Cup</div>,
 <div class="prd_link-product-name css-3um8ox" data-testid="spnSRPProdName">Seblak Instan Pedas Home Made</div>,
 <div class="prd_link-product-name css-3um8ox" data-testid="spnSRPProdName">Seblak Rafael, Seblak Coet Instan Halal</div>,
 <div class="prd_link-product-name css-3um8ox" data-testid="spnSRPProdName">SEBLAK INSTANT TERMURAH</div>,
 <div class="prd_link-product-name css-3um8ox" data-testid="spnSRPProdName">SEBLAK INSTAN MAMANG TERMURAH</div>,
 <div class="prd_link-product-name css-3um8ox" data-testid="spnSRPProdName">seblak instant sajodo snak</div>,
 <div class="prd_link-product-name css-3um8ox" data-testid="spnSRPProdName">KERUPUK SEBLAK PEDAS / KRUPUK SEBLAK KERING DAUN JERUK PEDES</div>,
 <div class="prd_link-product-name css-3um8ox" data-testid="spnSRPProdName">SEBRING KRUPUK KERUPUK SEBLAK KERING PEDAS DAUN JERUK 1KG CABE ASLI</div>,
 <div class="prd_link-product-name css-3um8ox" data-testid="spnSRPProdName">BATAGOR MINI KERING 100 PCS TOPING BASO ACI, SEBLAK DAN MIE INSTAN</div>,
 <div class="prd_link-product-name css-3um8ox" data-testid="spnSRPProdName">Kerupuk Seblak / Seblak / Kering Pedas /</div>,
 <div class="prd_link-product-name css-3um8ox" data-testid="spnSRPProdName">GURILEM MINI 1KG Siomay Kering Toping Baso Aci Cuanki Seblak</div>,
 <div class="prd_link-product-name css-3um8ox" data-testid="spnSRPProdName">Seblak RAFAEL | Seblak MAMANG RAFAEL | Seblak Viral ORIGINAL TATANGGA</div>,
 <div class="prd_link-product-name css-3um8ox" data-testid="spnSRPProdName">Seblak Rafael, Seblak Coet Instan Halal</div>,
 <div class="prd_link-product-name css-3um8ox" data-testid="spnSRPProdName">Kerupuk Seblak Rafael Pedas / Seblak Mawar Pedes - Duo Bocil Snack</div>,
 <div class="prd_link-product-name css-3um8ox" data-testid="spnSRPProdName">SAMBAL SEBLAK BY MAMANG RAFAEL ORIGINAL HALAL VIRAALLL</div>,
 <div class="prd_link-product-name css-3um8ox" data-testid="spnSRPProdName">Kerupuk Seblak Rafael Mawar Putih Pedas</div>,
 <div class="prd_link-product-name css-3um8ox" data-testid="spnSRPProdName">Seblak Instan Pedas Home Made</div>,
 <div class="prd_link-product-name css-3um8ox" data-testid="spnSRPProdName">Seblak Rafael, Seblak Coet Instan Halal</div>,
 <div class="prd_link-product-name css-3um8ox" data-testid="spnSRPProdName">SEBLAK INSTANT TERMURAH</div>,
 <div class="prd_link-product-name css-3um8ox" data-testid="spnSRPProdName">SEBLAK INSTAN MAMANG TERMURAH</div>,
 <div class="prd_link-product-name css-3um8ox" data-testid="spnSRPProdName">seblak instant sajodo snak</div>,
 <div class="prd_link-product-name css-3um8ox" data-testid="spnSRPProdName">Seblak Instan Pedas Home Made</div>,
 <div class="prd_link-product-name css-3um8ox" data-testid="spnSRPProdName">Gelifood Seblak Instan Kerupuk Mawar Bumbu Kencur Rafael Pedas Gurih</div>,
 <div class="prd_link-product-name css-3um8ox" data-testid="spnSRPProdName">Seblak Instan Komplit Pedas Gurih Nikmat</div>,
 <div class="prd_link-product-name css-3um8ox" data-testid="spnSRPProdName">Seblak pedas kerupuk pedas kiloan 1 kg</div>,
 <div class="prd_link-product-name css-3um8ox" data-testid="spnSRPProdName">seblak kering pedas 250 gr/seblak kencur/kerupuk seblak,enak dan gurih</div>]

setelah mendapatkan `class` dari nama produk, kemudian saya akan mengambil nama produk saja. dengan fungsi `div_tag`

In [117]:
for div_tag in soup.find_all('div',{"class":"prd_link-product-name css-3um8ox"}):
    print(div_tag.get_text())

Kylafood Seblak Karuhun Play
Kylafood Seblak Rempah Autentik isi (5pcs)
 Kylafood Seblak karuhun
Geli Food Seblak Ceker Tanpa Tulang Super Pedas 180gr
Seblak Rafael, Seblak Coet Instan Halal
Seblak Instan Ceu Nthien Khas Bandung Rasana Ngeunah Pisan
kerupuk seblak 1kg
KERUPUK SEBLAK MENTAH 1KG WARNA WARNI
Seblak Rafael, Seblak Coet Instan Halal
Seblak Instan Pedas Home Made
SEBLAK INSTANT TERMURAH
Seblak RAFAEL | Seblak MAMANG RAFAEL | Seblak Viral ORIGINAL TATANGGA
Kylafood Seblak Cup
Seblak Instan Pedas Home Made
Seblak Rafael, Seblak Coet Instan Halal
SEBLAK INSTANT TERMURAH
SEBLAK INSTAN MAMANG TERMURAH
seblak instant sajodo snak
KERUPUK SEBLAK PEDAS / KRUPUK SEBLAK KERING DAUN JERUK PEDES
SEBRING KRUPUK KERUPUK SEBLAK KERING PEDAS DAUN JERUK 1KG CABE ASLI
BATAGOR MINI KERING 100 PCS TOPING BASO ACI, SEBLAK DAN MIE INSTAN
Kerupuk Seblak / Seblak / Kering Pedas /
GURILEM MINI 1KG Siomay Kering Toping Baso Aci Cuanki Seblak
Seblak RAFAEL | Seblak MAMANG RAFAEL | Seblak Viral ORIGINAL TATANGGA
Seblak Rafael, Seblak Coet Instan Halal
Kerupuk Seblak Rafael Pedas / Seblak Mawar Pedes - Duo Bocil Snack
SAMBAL SEBLAK BY MAMANG RAFAEL ORIGINAL HALAL VIRAALLL
Kerupuk Seblak Rafael Mawar Putih Pedas
Seblak Instan Pedas Home Made
Seblak Rafael, Seblak Coet Instan Halal
SEBLAK INSTANT TERMURAH
SEBLAK INSTAN MAMANG TERMURAH
seblak instant sajodo snak
Seblak Instan Pedas Home Made
Gelifood Seblak Instan Kerupuk Mawar Bumbu Kencur Rafael Pedas Gurih
Seblak Instan Komplit Pedas Gurih Nikmat
Seblak pedas kerupuk pedas kiloan 1 kg
seblak kering pedas 250 gr/seblak kencur/kerupuk seblak,enak dan gurih

#### 2.Load data `Nama Produk`, `Harga Produk`, `Penjual`, `Kota Toko`, `Banyaknya Terjual`, dan `Rating Produk`.

In [118]:
# Inisialisasi WebDriver (pastikan driver sesuai dengan versi browser yang Anda miliki)
driver = webdriver.Chrome()

# Inisialisasi list untuk menyimpan data
data = []

# Loop melalui halaman pencarian Tokopedia
for i in range(1, 11):
    url = "https://www.tokopedia.com/search?navsource=&page={}&q=seblak&srp_component_id=02.01.00.00&srp_page_id=&srp_page_title=&st=".format(i)
    driver.get(url)
    time.sleep(1)
    soup = BeautifulSoup(driver.page_source, "html.parser")

    # Loop melalui setiap barang pada halaman
    for barang in soup.find_all('div', {"class": "css-1asz3by"}):
        try:
            nama = barang.find('div', {"class": "prd_link-product-name css-3um8ox"}).text
        except AttributeError:
            nama = None

        try:
            harga = barang.find('div', {"class": "prd_link-product-price css-h66vau"}).text
        except AttributeError:
            harga = None

        try:
            penjual = barang.find('span', {"class": "prd_link-shop-name css-1kdc32b flip"}).text
        except AttributeError:
            penjual = None

        try:
            lokasi = barang.find('span', {"class": "prd_link-shop-loc css-1kdc32b flip"}).text
        except AttributeError:
            lokasi = None

        try:
            terjual = barang.find('span', {"class": "prd_label-integrity css-1sgek4h"}).text
        except AttributeError:
            terjual = None

        try:
            rating = barang.find('span', {"class": "prd_rating-average-text css-t70v7i"}).text
        except AttributeError:
            rating = None

        # Menambahkan data ke dalam list
        data.append((nama, harga, penjual, lokasi, terjual, rating))

# Menutup WebDriver setelah selesai
driver.quit()

# Membuat DataFrame dari list data
df = pd.DataFrame(data, columns=['Nama_Produk', 'Harga_Produk', 'Penjual', 'Kota_Toko', 'Banyaknya_Terjual', 'Rating_Produk'])
df

,Nama_Produk,Harga_Produk,Penjual,Kota_Toko,Banyaknya_Terjual,Rating_Produk
0,Kylafood Seblak Rempah Autentik isi (5pcs),Rp50.140,None,None,100+ terjual,4.6
1,Kylafood Seblak Original Isi 10 pcs,Rp187.050,None,None,14 terjual,5.0
2,Kylafood Seblak karuhun,Rp12.825,None,None,4 rb+ terjual,4.8
3,Geli Food Seblak Ceker Tanpa Tulang Super Peda...,Rp24.000,Lidigeli,Kab. Garut,70+ terjual,5.0
4,"Seblak Rafael, Seblak Coet Instan Halal",Rp25.000,Brother Meat Shop,Depok,250+ terjual,4.9
...,...,...,...,...,...,...
369,Seblak Instan Pedas Home Made,Rp3.500,the Dhecip,Tangerang Selatan,3rb+ terjual,4.9
370,Gelifood Seblak Instan Kerupuk Mawar Bumbu Ken...,Rp15.000,Lidigeli,Kab. Garut,250+ terjual,4.9
371,Seblak Instan Komplit Pedas Gurih Nikmat,Rp5.999,Baso Aci Ayang,Kab. Garut,2rb+ terjual,4.9
372,Seblak pedas kerupuk pedas kiloan 1 kg,Rp35.000,RIKI STORE 97,Kab. Bogor,100+ terjual,4.7
373,seblak kering pedas 250 gr/seblak kencur/kerup...,Rp9.999,aghniya,Tangerang Selatan,500+ terjual,4.8

### B. Data Preparation

#### 1.Data Exploration

- Pertama saya gunakan fungsi `.info()` untuk menampilakan informasi dasar dari hasil data web scraping. setalah
itu saya akan menampilkan beberapa baris data dengan fungsi `.head()`

In [119]:
# Menampilkan informasi dasar DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Nama_Produk        374 non-null    object
 1   Harga_Produk       374 non-null    object
 2   Penjual            350 non-null    object
 3   Kota_Toko          350 non-null    object
 4   Banyaknya_Terjual  371 non-null    object
 5   Rating_Produk      359 non-null    object
dtypes: object(6)
memory usage: 17.7+ KB

- Rangkuman data

In [120]:
df.head()

,Nama_Produk,Harga_Produk,Penjual,Kota_Toko,Banyaknya_Terjual,Rating_Produk
0,Kylafood Seblak Rempah Autentik isi (5pcs),Rp50.140,None,None,100+ terjual,4.6
1,Kylafood Seblak Original Isi 10 pcs,Rp187.050,None,None,14 terjual,5.0
2,Kylafood Seblak karuhun,Rp12.825,None,None,4 rb+ terjual,4.8
3,Geli Food Seblak Ceker Tanpa Tulang Super Peda...,Rp24.000,Lidigeli,Kab. Garut,70+ terjual,5.0
4,"Seblak Rafael, Seblak Coet Instan Halal",Rp25.000,Brother Meat Shop,Depok,250+ terjual,4.9

dari fungsi `.head()` diatas terdapat beberapa insight yaitu :

- Nama produk, harga, dan penjual dapat dilihat pada baris pertama DataFrame.

- Data ini terlihat mencakup produk "seblak" dari beberapa penjual.

- Informasi lainnya seperti lokasi toko, banyaknya terjual, dan rating produk juga tersedia.

In [121]:
# Menampilkan informasi rangkuman data
df.describe()

,Nama_Produk,Harga_Produk,Penjual,Kota_Toko,Banyaknya_Terjual,Rating_Produk
count,374,374,350,350,371,359
unique,118,76,72,21,33,7
top,"Seblak Rafael, Seblak Coet Instan Halal",Rp25.000,Brother Meat Shop,Jakarta Barat,250+ terjual,4.9
freq,34,48,34,88,79,171

Insight dan Penjelasan Langkah:

- Jumlah data (count): Menunjukkan berapa banyak baris data yang ada.

- unique : Memberikan jumlah unik data yang ada.

- top : Menunjukkan produk yang memiliki rating tertinggi.

- freq : Menunjukkan seberapa sering produk muncul.

In [122]:
# Memeriksa nilai yang hilang dalam DataFrame
df.isnull().sum()

Nama_Produk           0
Harga_Produk          0
Penjual              24
Kota_Toko            24
Banyaknya_Terjual     3
Rating_Produk        15
dtype: int64


- Insight:
1. Dengan mengevaluasi output, dapat melihat jumlah nilai yang hilang dalam setiap kolom.
2. Kolom yang memiliki nilai hilang mungkin memerlukan perhatian lebih lanjut, terutama jika nilai tersebut kritis untuk analisis.

In [123]:
df.columns

Index(['Nama_Produk', 'Harga_Produk', 'Penjual', 'Kota_Toko',
       'Banyaknya_Terjual', 'Rating_Produk'],
      dtype='object')

#### 2.Data Cleaning

sebelum cleaning data, pertama saya cek dulu didalam datanya apa saja hal yang harus dihapus atau tidak dipakai..

In [124]:
df.Banyaknya_Terjual.unique()

array(['100+ terjual', '14 terjual', '4 rb+ terjual', '70+ terjual',
       '250+ terjual', '2rb+ terjual', '4 terjual', '3rb+ terjual',
       '10rb+ terjual', '27 terjual', '750+ terjual', '50+ terjual',
       '80+ terjual', '90+ terjual', '19 terjual', '500+ terjual',
       '9 terjual', '17 terjual', '5 terjual', '60+ terjual',
       '1rb+ terjual', '4rb+ terjual', '30+ terjual', '13 terjual',
       '7 terjual', '21 terjual', '29 terjual', '40+ terjual',
       '16 terjual', None, '20 terjual', '23 terjual', '11 terjual',
       '6 terjual'], dtype=object)

In [125]:
# Menghapus string 'terjual ' dan mengganti string 'rb' dengan *1000 di kolom 'Banyaknya_Terjual'
df['Harga_Produk'] = df['Harga_Produk'].replace({'Rp': ''}, regex=True)

df['Banyaknya_Terjual'] = df['Banyaknya_Terjual'].replace({'terjual': '',' ': '', '\+': '', 'rb': '000'}, regex=True)

df['Banyaknya_Terjual'].fillna(0, inplace=True)

# Menampilkan DataFrame setelah perubahan
df

,Nama_Produk,Harga_Produk,Penjual,Kota_Toko,Banyaknya_Terjual,Rating_Produk
0,Kylafood Seblak Rempah Autentik isi (5pcs),50.140,None,None,100,4.6
1,Kylafood Seblak Original Isi 10 pcs,187.050,None,None,14,5.0
2,Kylafood Seblak karuhun,12.825,None,None,4000,4.8
3,Geli Food Seblak Ceker Tanpa Tulang Super Peda...,24.000,Lidigeli,Kab. Garut,70,5.0
4,"Seblak Rafael, Seblak Coet Instan Halal",25.000,Brother Meat Shop,Depok,250,4.9
...,...,...,...,...,...,...
369,Seblak Instan Pedas Home Made,3.500,the Dhecip,Tangerang Selatan,3000,4.9
370,Gelifood Seblak Instan Kerupuk Mawar Bumbu Ken...,15.000,Lidigeli,Kab. Garut,250,4.9
371,Seblak Instan Komplit Pedas Gurih Nikmat,5.999,Baso Aci Ayang,Kab. Garut,2000,4.9
372,Seblak pedas kerupuk pedas kiloan 1 kg,35.000,RIKI STORE 97,Kab. Bogor,100,4.7
373,seblak kering pedas 250 gr/seblak kencur/kerup...,9.999,aghniya,Tangerang Selatan,500,4.8

In [126]:
# Mengganti nilai None di kolom 'Rating_Produk' dengan 0
df['Rating_Produk'].fillna(0, inplace=True)

# Menampilkan DataFrame setelah perubahan
df

,Nama_Produk,Harga_Produk,Penjual,Kota_Toko,Banyaknya_Terjual,Rating_Produk
0,Kylafood Seblak Rempah Autentik isi (5pcs),50.140,None,None,100,4.6
1,Kylafood Seblak Original Isi 10 pcs,187.050,None,None,14,5.0
2,Kylafood Seblak karuhun,12.825,None,None,4000,4.8
3,Geli Food Seblak Ceker Tanpa Tulang Super Peda...,24.000,Lidigeli,Kab. Garut,70,5.0
4,"Seblak Rafael, Seblak Coet Instan Halal",25.000,Brother Meat Shop,Depok,250,4.9
...,...,...,...,...,...,...
369,Seblak Instan Pedas Home Made,3.500,the Dhecip,Tangerang Selatan,3000,4.9
370,Gelifood Seblak Instan Kerupuk Mawar Bumbu Ken...,15.000,Lidigeli,Kab. Garut,250,4.9
371,Seblak Instan Komplit Pedas Gurih Nikmat,5.999,Baso Aci Ayang,Kab. Garut,2000,4.9
372,Seblak pedas kerupuk pedas kiloan 1 kg,35.000,RIKI STORE 97,Kab. Bogor,100,4.7
373,seblak kering pedas 250 gr/seblak kencur/kerup...,9.999,aghniya,Tangerang Selatan,500,4.8

In [127]:
# Menyesuaikan tipe data kolom 'Harga_Produk' menjadi float (jika belum)
df['Harga_Produk'] = df['Harga_Produk'].astype(float)

# Menyesuaikan tipe data kolom 'Banyaknya_Terjual' menjadi int (jika belum)
df['Banyaknya_Terjual'] = df['Banyaknya_Terjual'].astype(int)

# Menyesuaikan tipe data kolom 'Rating_Produk' menjadi float (jika belum)
df['Rating_Produk'] = df['Rating_Produk'].astype(float)

In [128]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Nama_Produk        374 non-null    object
 1   Harga_Produk       374 non-null    float64
 2   Penjual            350 non-null    object
 3   Kota_Toko          350 non-null    object
 4   Banyaknya_Terjual  374 non-null    int32
 5   Rating_Produk      374 non-null    float64
dtypes: float64(2), int32(1), object(3)
memory usage: 16.2+ KB

In [129]:
df

,Nama_Produk,Harga_Produk,Penjual,Kota_Toko,Banyaknya_Terjual,Rating_Produk
0,Kylafood Seblak Rempah Autentik isi (5pcs),50.140,None,None,100,4.6
1,Kylafood Seblak Original Isi 10 pcs,187.050,None,None,14,5.0
2,Kylafood Seblak karuhun,12.825,None,None,4000,4.8
3,Geli Food Seblak Ceker Tanpa Tulang Super Peda...,24.000,Lidigeli,Kab. Garut,70,5.0
4,"Seblak Rafael, Seblak Coet Instan Halal",25.000,Brother Meat Shop,Depok,250,4.9
...,...,...,...,...,...,...
369,Seblak Instan Pedas Home Made,3.500,the Dhecip,Tangerang Selatan,3000,4.9
370,Gelifood Seblak Instan Kerupuk Mawar Bumbu Ken...,15.000,Lidigeli,Kab. Garut,250,4.9
371,Seblak Instan Komplit Pedas Gurih Nikmat,5.999,Baso Aci Ayang,Kab. Garut,2000,4.9
372,Seblak pedas kerupuk pedas kiloan 1 kg,35.000,RIKI STORE 97,Kab. Bogor,100,4.7
373,seblak kering pedas 250 gr/seblak kencur/kerup...,9.999,aghniya,Tangerang Selatan,500,4.8

In [130]:
df.to_csv('P0G3_KevinDHS.csv',index=False)

### C. Business Understanding/Problem Statement

The SMART:

Specific        : Dengan menarget pasar e-commerce, penjual dapat meningkatkan daya tarik pelanggan terhadap produk, sehingga jumlah pelanggan yang datang semakin besar.

Measurable      : Memperbaiki tingkat waktu pengiriman on-time dari 80% menjadi 95%.

Achievable      : Dengan bekerja sama dengan jasa pengiriman, dapat mengoptimalkan rute pengiriman untuk mencapai target 95%.

Relevant        : Perbaikan dalam sistem pengiriman akan meningkatkan kepuasan pelanggan dan membangun kepercayaan antara penjual dan pelanggan.

Time-Bound      : Proses untuk mencapai tujuan akan diatur dalam waktu 3 bulan.

### D. Analysis

Load Data dengan fungsi `.read_csv()`

In [131]:
data = pd.read_csv('P0G3_KevinDHS.csv')
data

,Nama_Produk,Harga_Produk,Penjual,Kota_Toko,Banyaknya_Terjual,Rating_Produk
0,Kylafood Seblak Rempah Autentik isi (5pcs),50.140,NaN,NaN,100,4.6
1,Kylafood Seblak Original Isi 10 pcs,187.050,NaN,NaN,14,5.0
2,Kylafood Seblak karuhun,12.825,NaN,NaN,4000,4.8
3,Geli Food Seblak Ceker Tanpa Tulang Super Peda...,24.000,Lidigeli,Kab. Garut,70,5.0
4,"Seblak Rafael, Seblak Coet Instan Halal",25.000,Brother Meat Shop,Depok,250,4.9
...,...,...,...,...,...,...
369,Seblak Instan Pedas Home Made,3.500,the Dhecip,Tangerang Selatan,3000,4.9
370,Gelifood Seblak Instan Kerupuk Mawar Bumbu Ken...,15.000,Lidigeli,Kab. Garut,250,4.9
371,Seblak Instan Komplit Pedas Gurih Nikmat,5.999,Baso Aci Ayang,Kab. Garut,2000,4.9
372,Seblak pedas kerupuk pedas kiloan 1 kg,35.000,RIKI STORE 97,Kab. Bogor,100,4.7
373,seblak kering pedas 250 gr/seblak kencur/kerup...,9.999,aghniya,Tangerang Selatan,500,4.8

kemudian saya menggunakan fungsi `.describe()` untuk melihat rangkuman data.

In [132]:
data.describe()

       Harga_Produk  Banyaknya_Terjual  Rating_Produk
count    374.000000         374.000000     374.000000
mean      18.181647        1132.053476       4.684759
std       17.371439        2337.781099       0.963855
min        2.000000           0.000000       0.000000
25%        6.775000          82.500000       4.800000
50%       15.000000         250.000000       4.900000
75%       25.000000         750.000000       4.900000
max      187.050000       10000.000000       5.000000

#### 1.rata-rata, median, standar deviasi, skewness, dan kurtosis

disini saya akan menggunakan fungsi `.mean()` untuk mencari nilai rata-rata

In [133]:
print(f'Nilai Rata-Rata Harga Produk adalah : {data.Harga_Produk.mean()}\n')
print(f'Nilai Rata-Rata Banyak Produk Terjual adalah : {data.Banyaknya_Terjual.mean()}\n')
print(f'Nilai Rata-Rata Rating Produk adalah : {data.Rating_Produk.mean()}')

Nilai Rata-Rata Harga Produk adalah : 18.18164705882353

Nilai Rata-Rata Banyak Produk Terjual adalah : 1132.0534759358288

Nilai Rata-Rata Rating Produk adalah : 4.68475935828877

kemudian saya mencari nilai median dengan fungsi `.median()`

In [134]:
print(f'Nilai Median Harga Produk adalah : {data.Harga_Produk.median()}\n')
print(f'Nilai Median Banyak Produk Terjual adalah : {data.Banyaknya_Terjual.median()}\n')
print(f'Nilai Median Rating Produk adalah : {data.Rating_Produk.median()}')

Nilai Median Harga Produk adalah : 15.0

Nilai Median Banyak Produk Terjual adalah : 250.0

Nilai Median Rating Produk adalah : 4.9

mencari nilai std dengan menggunakan fungsi `.std()`

In [141]:
print(f'Nilai std Harga Produk adalah : {data.Harga_Produk.std()}\n')
print(f'Nilai std Banyak Produk Terjual adalah : {data.Banyaknya_Terjual.std()}\n')
print(f'Nilai std Rating Produk adalah : {data.Rating_Produk.std()}')

Nilai std Harga Produk adalah : 17.42516507672214

Nilai std Banyak Produk Terjual adalah : 2345.007065637294

Nilai std Rating Produk adalah : 0.8701503618445806

mencari nilai skew dengan menggunakan fungsi `.skew()`

In [135]:
print(f'Nilai Skew Harga Produk adalah : {data.Harga_Produk.skew()}\n')
print(f'Nilai Skew Banyak Produk Terjual adalah : {data.Banyaknya_Terjual.skew()}\n')
print(f'Nilai Skew Rating Produk adalah : {data.Rating_Produk.skew()}')

Nilai Skew Harga Produk adalah : 4.4744133257694765

Nilai Skew Banyak Produk Terjual adalah : 3.091939077467783

Nilai Skew Rating Produk adalah : -4.6293636706267565

In [136]:
print(f'Nilai kurtosis Harga Produk adalah : {data.Harga_Produk.kurtosis()}\n')
print(f'Nilai kurtosis Banyak Produk Terjual adalah : {data.Banyaknya_Terjual.kurtosis()}\n')
print(f'Nilai kurtosis Rating Produk adalah : {data.Rating_Produk.kurtosis()}')

Nilai kurtosis Harga Produk adalah : 33.612340102912164

Nilai kurtosis Banyak Produk Terjual adalah : 8.892380713959604

Nilai kurtosis Rating Produk adalah : 19.786623845510015

In [137]:
data.describe()

       Harga_Produk  Banyaknya_Terjual  Rating_Produk
count    374.000000         374.000000     374.000000
mean      18.181647        1132.053476       4.684759
std       17.371439        2337.781099       0.963855
min        2.000000           0.000000       0.000000
25%        6.775000          82.500000       4.800000
50%       15.000000         250.000000       4.900000
75%       25.000000         750.000000       4.900000
max      187.050000       10000.000000       5.000000

kemudian untuk menghindari nilai yang mengandung value 0, jadi saya akan memfilter nya.

In [138]:
data = data[(data['Harga_Produk']>0) & (data['Banyaknya_Terjual']>0)]
data

,Nama_Produk,Harga_Produk,Penjual,Kota_Toko,Banyaknya_Terjual,Rating_Produk
0,Kylafood Seblak Rempah Autentik isi (5pcs),50.140,NaN,NaN,100,4.6
1,Kylafood Seblak Original Isi 10 pcs,187.050,NaN,NaN,14,5.0
2,Kylafood Seblak karuhun,12.825,NaN,NaN,4000,4.8
3,Geli Food Seblak Ceker Tanpa Tulang Super Peda...,24.000,Lidigeli,Kab. Garut,70,5.0
4,"Seblak Rafael, Seblak Coet Instan Halal",25.000,Brother Meat Shop,Depok,250,4.9
...,...,...,...,...,...,...
369,Seblak Instan Pedas Home Made,3.500,the Dhecip,Tangerang Selatan,3000,4.9
370,Gelifood Seblak Instan Kerupuk Mawar Bumbu Ken...,15.000,Lidigeli,Kab. Garut,250,4.9
371,Seblak Instan Komplit Pedas Gurih Nikmat,5.999,Baso Aci Ayang,Kab. Garut,2000,4.9
372,Seblak pedas kerupuk pedas kiloan 1 kg,35.000,RIKI STORE 97,Kab. Bogor,100,4.7
373,seblak kering pedas 250 gr/seblak kencur/kerup...,9.999,aghniya,Tangerang Selatan,500,4.8

kemudian saya akan mengklasifikasi barang yang terjual berdasarkan kota.

In [139]:
barang = data[['Kota_Toko','Banyaknya_Terjual']].groupby('Kota_Toko').sum()
barang.head()

               Banyaknya_Terjual
Kota_Toko
Bandung                     7316
Bekasi                       500
Depok                       9510
Jakarta Barat              30973
Jakarta Pusat                300

#### 2.Confidence interval

kemudian saya akan mencari nilai lower value dan upper value

In [140]:
from scipy import stats
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

std = barang['Banyaknya_Terjual'].std()
N = len(barang)
low, up = stats.norm.interval(0.95,loc=barang['Banyaknya_Terjual'].mean(),scale=std/np.sqrt(N))
print('Lower Value:',low)
print('Upper Value:',up)

Lower Value: -1773.8011922022342
Upper Value: 40821.99166839271

#### 3.Hypothesis Test

di hipotesis saya akan mengklasisfikasi berdasarkan jabodetabek dan non jabodetabek

In [152]:
jabodetabek = data[(data["Kota_Toko"]=="Jakarta Pusat") | (data["Kota_Toko"]=="Jakarta Selatan") | (data["Kota_Toko"]=="Depok") | (data["Kota_Toko"]=="Tangerang Selatan") | (data["Kota_Toko"]=="Jakarta Barat") | (data["Kota_Toko"]=="Jakarta Timur") | (data["Kota_Toko"]=="Tangerang")]

jabodetabek

,Nama_Produk,Harga_Produk,Penjual,Kota_Toko,Banyaknya_Terjual,Rating_Produk
4,"Seblak Rafael, Seblak Coet Instan Halal",25.000,Brother Meat Shop,Depok,250,4.9
5,Seblak Instan Ceu Nthien Khas Bandung Rasana N...,17.000,Central Seblak Nusantara,Tangerang Selatan,2000,4.9
7,KERUPUK SEBLAK MENTAH 1KG WARNA WARNI,23.500,BociKakang,Jakarta Selatan,250,5.0
8,"Seblak Rafael, Seblak Coet Instan Halal",25.000,Brother Meat Shop,Depok,250,4.9
9,Seblak Instan Pedas Home Made,3.500,the Dhecip,Tangerang Selatan,3000,4.9
...,...,...,...,...,...,...
366,SEBLAK INSTANT TERMURAH,4.450,Pusat Cuankie & Cemilan Frozen,Jakarta Timur,10000,4.8
367,SEBLAK INSTAN MAMANG TERMURAH,4.200,global cookware1,Jakarta Barat,250,4.9
368,seblak instant sajodo snak,19.000,hikmah berkah jaya,Jakarta Barat,750,4.8
369,Seblak Instan Pedas Home Made,3.500,the Dhecip,Tangerang Selatan,3000,4.9
373,seblak kering pedas 250 gr/seblak kencur/kerup...,9.999,aghniya,Tangerang Selatan,500,4.8

In [159]:
non_jabodetabek = data[~((data["Kota_Toko"]=="Jakarta Pusat") | (data["Kota_Toko"]=="Jakarta Selatan") | (data["Kota_Toko"]=="Depok") | (data["Kota_Toko"]=="Tangerang Selatan") | (data["Kota_Toko"]=="Jakarta Barat") | (data["Kota_Toko"]=="Jakarta Timur") | (data["Kota_Toko"]=="Tangerang"))]

non_jabodetabek

,Nama_Produk,Harga_Produk,Penjual,Kota_Toko,Banyaknya_Terjual,Rating_Produk
0,Kylafood Seblak Rempah Autentik isi (5pcs),50.140,NaN,NaN,100,4.6
1,Kylafood Seblak Original Isi 10 pcs,187.050,NaN,NaN,14,5.0
2,Kylafood Seblak karuhun,12.825,NaN,NaN,4000,4.8
3,Geli Food Seblak Ceker Tanpa Tulang Super Peda...,24.000,Lidigeli,Kab. Garut,70,5.0
6,kerupuk seblak 1kg,11.500,zyvasnack,Kab. Purworejo,4,0.0
...,...,...,...,...,...,...
357,Kerupuk Seblak / Seblak / Kering Pedas /,10.000,Anggris store,Kab. Bogor,50,4.8
358,GURILEM MINI 1KG Siomay Kering Toping Baso Aci...,33.000,Pedas Gilaa,Surabaya,750,4.9
370,Gelifood Seblak Instan Kerupuk Mawar Bumbu Ken...,15.000,Lidigeli,Kab. Garut,250,4.9
371,Seblak Instan Komplit Pedas Gurih Nikmat,5.999,Baso Aci Ayang,Kab. Garut,2000,4.9
372,Seblak pedas kerupuk pedas kiloan 1 kg,35.000,RIKI STORE 97,Kab. Bogor,100,4.7

sekarang saya akan menganalisis harga di jabodetabek dan diluar jabodetabek.

Di Hypothesis Test saya akan menggunakan `Two-Sample Independent Test`. ddimana akan mengetes dua kondisi.

In [179]:
jabodetabek_areas = ["Jakarta Pusat", "Jakarta Selatan", "Depok", "Tangerang Selatan", "Jakarta Barat", "Jakarta Timur", "Tangerang"]
jabodetabek = data[data["Kota_Toko"].isin(jabodetabek_areas)]
jabodetabek_total = jabodetabek['Harga_Produk'].mean()
jabodetabek_total

16.837415966386555

In [178]:
jabodetabek_areas = ["Jakarta Pusat", "Jakarta Selatan", "Depok", "Tangerang Selatan", "Jakarta Barat", "Jakarta Timur", "Tangerang"]
non_jabodetabek = data[~data["Kota_Toko"].isin(jabodetabek_areas)]
non_jabodetabek_total = non_jabodetabek['Harga_Produk'].mean()
non_jabodetabek_total

20.72655639097744

In [181]:
t_stat, p_val = stats.ttest_ind(jabodetabek['Harga_Produk'],non_jabodetabek['Harga_Produk'])
print('T-Statistic:',t_stat)
print('P-value:',p_val)

T-Statistic: -2.0707381981257194
P-value: 0.039078156150208515

berdasarkan data yang di dapat disimpulkan bahwa :

H0: Harga barang di jabodetabek == harga barang di luar jabodetabek

H1: Harga barang di jabodetabek != harga barang di luar jabodetabek

#### 4.Satisfaction

disini akan menghitung satisfaction dan korelasi

In [156]:
corr_r, pval_p = stats.pearsonr(df['Harga_Produk'], df['Banyaknya_Terjual'])
corr_rho, pval_s = stats.spearmanr(df['Harga_Produk'], df['Banyaknya_Terjual'])
corr_tau, pval_k = stats.kendalltau(df['Harga_Produk'], df['Banyaknya_Terjual'])

print(f"r-correlation: {corr_r:.2f}, p-value: {pval_p}")
print(f"rho-correlation: {corr_rho:.2f}, p-value: {pval_s}")
print(f"tau-correlation: {corr_tau:.2f}, p-value: {pval_k}")

r-correlation: -0.29, p-value: 1.4582310056636915e-08
rho-correlation: -0.48, p-value: 2.2472909196284155e-23
tau-correlation: -0.36, p-value: 1.7499216982728802e-22

dari hasil perhitungan hasil diatas korelasi dari harga produk dan banyaknya terjual bersifal by chance karena nilai p-value kurang dari 0.05

### E. Conclusion

In the Graded Challenge 3, I learned how to solve problems and employ critical thinking through web scraping data and analyzing it. From this experience, I achieved several objectives:

    - Successfully web scraping data from the provided link.

    - Exploring and loading the data, as well as cleaning it from any issues within the dataset.

    - Generating business insights using intelligent pattern recognition.

    - Conducting calculations to derive insights from the data, particularly focusing on different countries.

    - Formulating hypotheses based on these calculations.

However, there is still ample room for improvement and further growth. Continuously learning new skills and knowledge is essential for my self-development.